#formDiv{
    width: 7%;
}

.Modal:focus {
    outline: none;

}

#addFilmForm{
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
    margin: auto;
}

#addFilmButton{
    margin: auto;
}

div[class^="form-grouplabelInput"] input{
    outline: none;
    height: 15%;
    width: 60%;
    margin:1% 2% ;
    border: 2px solid #DE9AD1;
    border-radius: 5px;
    padding: 5px;
}

div[class^="form-grouplabelInput"] input:focus{
    border: 2px solid #F6ABBB;
}

.labelInput:focus {
    border: 2px solid #F6ABBB;
}


#addFilmButton:disabled{
    cursor: not-allowed;
}

#addModal{
    display: flex;
    flex-direction: column;
}

.Modal{
    background-color: white;
    border: 5px solid #F6ABBB;

}

#closeImg{
    order: 2;
    margin-top: 1%;
    margin-right: 1%;
    background-color: white;
    width: 100%;
}

#closeDiv{
    width: 3%;
    margin-left: 97%;
}

#numberInput{
    width: 30%;
    margin-left: 0;
}

.validation-error{
    color :red;
    font-size: smaller;
}
