.searchbox{
    display: flex;
    flex-direction: row;
    width: 35%;
    justify-content: space-between;
}

.searchbox input{
    border: 2px solid #DE9AD1;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
}

.searchbox input:focus{
    outline:none;
    border: 2px solid #F6ABBB;
}

.btn {
    background-color: #8558B2;
    color: #EBE1F5;
    border: 1px solid #EBE1F5;
    border-radius: 15%;
    width: 70px;
    height: 35px;
    font-size: 1em;
}

.btn:hover {
      background-color: #EBE1F5;
      color: #8558B2;
      border: 1px solid #8558B2;
      outline: none;
}

.btn:active {
    border: 1px solid #8558B2;
    outline: none;
}

.btn:focus{
    outline: none;
}

#selectSearch{
    width: 90px;
    height: 35px;
    font-size: 1em;
    background-color: white;
    border-radius: 5px;
    border: 2px solid #DE9AD1;
    font-size: 1em;
}

#selectSearch:focus{
    outline:none;
    border: 2px solid #F6ABBB;
}

